body {
   margin: 0;
}

h1, h2, h3, h4, h5, h6 {
   font-family: 'Source Sans Pro', sans-serif;
   font-weight: 600;
   padding: 8px;
}

p {
   font-family: 'Source Sans Pro', sans-serif;
   font-weight: 400;
   padding: 8px;
   margin: 0;
}

#topBanner {
   display: flex;
   justify-content: space-between;
   align-items: center;;
   padding: 16px;
}

#title {
   margin: 0 0 0 16px;
}

#subTitle {
   margin-right: auto;
   opacity: 0.7;
   font-size: 14px;
}

.button {
   align-self: flex-end;
   margin: 0 16px;
   text-transform: uppercase;
   cursor: pointer;
}

#winter {
   margin-left: auto;
   background: #fff;
   color: #005293;
}

#winter:hover, #winter.active {
   background: #005293;
   color: #fff;
}

#summer {
   background: #fff;
   color: #006101;
}

#summer:hover, #summer.active {
   background: #006101;
   color: #fff;
}

#map {
   height: 80vh;
   width: 90%;
   min-height: 200px;
   max-height: 600px;
   min-width: 300px;
   max-width: 1200px;
   margin: 0 auto;
}

#textWrapper {
   padding: 16px;
   width: 80%;
   min-height: 200px;
   max-height: 600px;
   min-width: 300px;
   max-width: 1000px;
   margin: 0 auto;
}
